--- 
layout: bootstrap 
title : Research Area
permalink: /portfolio/
subtitle: "The Area of the group is studying"
feature-img: "assets/img/pexels/computer.jpeg"
hide: true
---

<!-- Portfolio Grid Section -->
<section class="portfolio">
    <div class="row">
        {% assign i = 0 %}
        {% for item in site.portfolio %}
        {% if i < 8 %}
         <div class="col-sm-4 col-xs-4 portfolio-item">
            <a href="{{ site.baseurl }}{{ item.url }}" class="portfolio-link" data-keyboard="true">
                <div class="caption" title="{{ item.title }}">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src="{{ site.baseurl }}/{{ item.img }}" class="" alt="">
            </a>
            <!--<p>{{i}}</p>-->
        </div>
        {% endif %}
        {% assign i=i | plus:1 %}
        {% endfor %}
    </div>
</section>
