---
layout: default
---

<article {% if page.feature-img %} class="feature-image" {% endif %}>
    {% if page.feature-img %}
    <header id="main" style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
        <!--<h1 id="{{ page.title | default: "" | cgi_escape }}" class="title">-->
        <!--{{ page.title }}-->
        <!--</h1>-->

    </header>
    {% endif %}
    {% if page.title %}
    <header id="main_1">
        <h1 id="{{ page.title }}" class="title">
            {{ page.title }}
        </h1>
    </header>
    {% endif %}
    <div id="main_2">
        <div id="main_2_1" style="width: 100%; height: 30%;">
            <hr style="border-width: medium; border-color: black"/>
            <p style="font-size: 24pt; margin: 0 0 0 0">Faculty</p>
            <table width="200" border="0" style="border-style: none">
                <tr>
                    <td style="padding: 0; margin: 5px 2px 2px 0; width: 28%; border-style: none"><img alt=""
                                                                                                       width="250"
                                                                                                       height="230"
                                                                                                       src="/assets/img/pexels/cli_1.png">
                    </td>
                    <td style="border-style: none">
                        <!--<p style="font-size: 16pt; padding: 0; margin: 0 0 4px 0">2016.03 - Now; &nbsp;&nbsp;Professor-->
                        <!--of Xi'an Jiaotong University</p>-->
                        <!--<p style="font-size: 16pt; padding: 0; margin: 0 0 4px 0">2016.03 - Now; &nbsp;&nbsp;Affiliated-->
                        <!--Researcher of MIT</p>-->
                        <!--<p style="font-size: 16pt; padding: 0; margin: 0 0 4px 0">2014.06 - 2016.03; &nbsp;&nbsp;Research-->
                        <!--Associate of MIT</p>-->
                        <!--<p style="font-size: 16pt; padding: 0; margin: 0 0 4px 0">2013.06 - Now; &nbsp;&nbsp;Member of-->
                        <!--The Editorial Board of Chinese Journal of Biology</p>-->
                        <!--<p style="font-size: 16pt; padding: 0; margin: 0 0 4px 0">2010.06 - 2014.05; &nbsp;&nbsp;Research-->
                        <!--Fellow of EBI</p>-->
                        <!--<p style="font-size: 16pt; padding: 0; margin: 0 0 4px 0">2010.06 - 2014.05; &nbsp;&nbsp;Research-->
                        <!--Fellow of Cambridge University</p>-->
                        <!--<p style="font-size: 16pt; padding: 0; margin: 0 0 4px 0">2005.10 - 2010.06; &nbsp;&nbsp;Database-->
                        <!--and Software Engineer of EBI</p>-->
                        <p style="font-size: 16pt; padding: 0; margin: 0 0 4px 0">
                            Dr. Chen Li serves as a professor in the computer science department in
                            <a href="http://www.xjtu.edu.cn">Xi'an Jiaotong University</a> and leads
                            the Biomedical Semantic Understanding Group (BioSun). Before joining the
                            university, He had been working in <a href="http://csail.mit.edu">the
                            Computer Science and Artificial Intelligence Laboratory</a> of <a
                                href="http://mit.edu">the Massachusetts Institute of Technology</a> as a
                            research scientist after receiving PhD from <a
                                href="http://cam.ac.uk">the University of Cambridge</a> in England.
                            While in Cambridge, his project was selected to be done in <a
                                href="http://www.ebi.ac.uk">the European Bioinformatics Institute</a>.
                        </p>
                    </td>
                </tr>
                <!--<tr>-->
                <!--<td colspan="2" style="border-style: none">-->
                <!--<p style="margin: 0">Dr. Li Chen, Professor, doctoral tutor.</p>-->
                <!--<p style="margin: 0 0 0 0">-->
                <!--Li Chen, PhD University of Cambridge, Massachusetts Institute of Technology postdoctoral-->
                <!--fellow,-->
                <!--University of Cambridge overseas Fellowship winner, winner of the European Molecular Biology-->
                <!--Laboratory in Fellowship, the central organization department people plan young talents and-->
                <!--Xi'an Jiao Tong University "Young Talents Program" getters. He is currently in the-->
                <!--Department of-->
                <!--computer science and technology at the Xi'an Jiao Tong University Telecommunications-->
                <!--Institute,-->
                <!--as a professor and doctorate tutor.-->
                <!--</p>-->

                <!--</td>-->
                <!--</tr>-->
            </table>

        </div>

        <div id="main_2_2">
            <hr style="border-width: medium; border-color: black"/>
            <p style="font-size: 24pt; margin: 0 0 0 0">Phd</p>
            <table width="200" border="0" align="center">
                <tr align="center">
                    <td style="text-align: center; vertical-align: middle; border-style: none"><img
                            style="border-radius: 50%" alt="" width="275" height="200"
                            src="/assets/img/students/haoyazhou_1.png">
                        <br/>
                        <small>郝亚洲 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;博士</small>
                        <br/>
                        <small>计算机科学与技术专业，于2013年9月入学，主要研究方向：文本挖掘，机器学习，自然语言处理。</small>
                    </td>

                    <td style="text-align: center; vertical-align: middle; border-style: none"><img
                            style="border-radius: 50%" alt="" width="275" height="200"
                            src="/assets/img/students/lizhijing_1.jpg">
                        <br/>
                        <small>李质婧 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;博士</small>
                        <br/>
                        <small>计算机科学与技术专业，于2016年9月入学，主要研究方向：文本挖掘，机器学习，自然语言处理。</small>
                    </td>
                    <td style="text-align: center; vertical-align: middle; border-style: none"><img
                            style="border-radius: 50%" alt="" width="275" height="200"
                            src="/assets/img/students/hekai_1.jpg">
                        <br/>
                        <small>和凯 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;博士</small>
                        <br/>
                        <small>计算机科学与技术专业，于2017年9月入学，主要研究方向：文本挖掘，机器学习，自然语言处理。</small>
                    </td>

                </tr>
                <tr align="center">
                    <td style="text-align: center; vertical-align: middle; border-style: none"><img
                            style="border-radius: 50%" alt="" width="275" height="200"
                            src="/assets/img/students/liyufei_1.jpg">
                        <br/>
                        <small>李羽霏 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;博士</small>
                        <br/>
                        <small>计算机科学与技术专业，于2017年9月入学，主要研究方向：文本挖掘，机器学习，自然语言处理。</small>
                    </td>

                    <td style="text-align: center; vertical-align: middle; border-style: none">
                    </td>
                    <td style="text-align: center; vertical-align: middle; border-style: none">
                    </td>

                </tr>

            </table>
        </div>

        <div id="main_2_3">
            <hr style="border-width: medium; border-color: black"/>
            <p style="font-size: 24pt; margin: 0 0 0 0">Master</p>
            <table width="200" border="0" align="center">

                <tr align="center">

                    <td style="text-align: center; vertical-align: middle; border-style: none"><img
                            style="border-radius: 50%;" alt="" width="275" height="200"
                            src="/assets/img/students/lanyangyang_1.png">
                        <br/>
                        <small>兰阳阳 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;硕士</small>
                        <br/>
                        <small>计算机科学与技术专业，于2017年9月入学，主要研究方向：文本挖掘，机器学习，自然语言处理。</small>
                    </td>
                    <td style="text-align: center; vertical-align: middle; border-style: none"><img
                            style="border-radius: 50%" alt="" width="275" height="200"
                            src="/assets/img/students/loupeiliang_1.jpg">
                        <br/>
                        <small>娄沛良 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;硕士</small>
                        <br/>
                        <small>计算机科学与技术专业，于2017年9月入学，主要研究方向：文本挖掘，机器学习，自然语言处理。</small>
                    </td>

                    <td style="text-align: center; vertical-align: middle; border-style: none"><img
                            style="border-radius: 50%" alt="" width="280" height="200"
                            src="/assets/img/students/longyu_1.jpg">
                        <br/>
                        <small>龙雨 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;硕士</small>
                        <br/>
                        <small>计算机科学与技术专业，于2017年9月入学，主要研究方向：文本挖掘，机器学习，自然语言处理。</small>
                    </td>

                </tr>

                <tr align="center">

                    <td style="text-align: center; vertical-align: middle; border-style: none"><img
                            style="border-radius: 50%" alt="" width="278" height="200"
                            src="/assets/img/students/wangxuan_1.jpg">
                        <br/>
                        <small>王轩 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;硕士</small>
                        <br/>
                        <small>计算机科学与技术专业，于2017年9月入学，主要研究方向：文本挖掘，机器学习，自然语言处理。</small>
                    </td>
                    <td style="text-align: center; vertical-align: middle; border-style: none">
                    </td>
                    <td style="text-align: center; vertical-align: middle; border-style: none">
                    </td>

                </tr>

            </table>
        </div>

    </div>


</article>
