---
layout: default
---
<article {% if page.feature-img %} class="feature-image"{% endif %}>
  <header id="main" style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    {% if page.subtitle %}
    <h1 id="{{ page.subtitle | cgi_escape }}" class="title">{{ page.subtitle }}</h1>
    {% elsif page.title %}
    <h1 id="{{ page.title }}" class="title">{{ page.title }}</h1>
    {% endif %}
    <p class="meta">
    <!--{{ page.date | date: "%B %-d, %Y" }}-->
    {% if page.author %} - {{ page.author }}{% endif %}
    </p>
  </header>
  <section class="post-content">{{ content }}</section>

</article>

<!-- Disqus -->
{% if site.theme_settings.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}

<!-- Post navigation -->
{% if site.theme_settings.post_navigation %}
  {% include post_nav.html %}
{% endif %}