---
layout: default
---

<article {% if page.feature-img %} class="feature-image" {% endif %}>
    {% if page.feature-img %}
    <header id="main" style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
        <!--<h1 id="{{ page.title | default: "" | cgi_escape }}" class="title">-->
        <!--{{ page.title }}-->
        <!--</h1>-->

    </header>
    {% endif %}
    {% if page.title %}
    <header id="main_1">
        <h1 id="{{ page.title }}" class="title">
            <!--{{ page.title }}-->
            西安交通大学生物医学文本挖掘组招聘青年教师/博士后
        </h1>
    </header>
    {% endif %}
    <section class="post-content">{{ content }}</section>
    <div width="200" border="0" align="center">
        <p align="left">
            一、实验室/研究组简介</p>

        <p align="left"><font size="4pt" face="黑体">
            陕西省天地网技术重点实验室自2004年10月成立。近年来，实验室承担了大量国家重大科研课题，并于2016年获批筹建“大数据算法与分析技术国家工程实验室”的建设。西安交通大学智能网络与网络安全教育部重点实验室2006年获批建设，培养中国科学院院士1人，IEEE
            Fellow
            2人，长江学者特聘教授2人，长江客座教授两人，国家杰出青年基金获得者2人，国家优秀青年基金获得者1人，千人计划1人，万人计划1人，青年千人3人，教育部跨/新世纪人才7人，入选全国百篇优秀博士论文2篇。实验室提供优良的工作条件和生活待遇，并提供积极的政策条件支持，包括学术团队、研究平台、家庭住房、子女入学等方面，促使其更快成长，目前已汇聚一批已在相关领域崭露头角并具有很好学术潜质的杰出青年学者。
        </font>
        </p>
        <p align="left"><font size="4pt" face="黑体">
            生物医学文本挖掘研究组依托陕西省天地网技术重点实验室与智能网络与网络安全教育部重点实验室，专注于研发基于自然语言处理和生物信息学的文本挖掘的人工智能算法，致力于将非结构化的、海量的生物医学及临床资料构建为结构化的生物医学知识图谱，研究方向包含并不限于信息抽取、情感分类、指代消解、代谢通路构建。我们寻求志同道合的研究者一起努力，加入生物医学文本挖掘研究组你将与经验丰富的科研工作者，及积极上进的研究生们一起，施展自己的才干，实现自身价值与理想。
        </font>
        </p>
        <p><font size="4pt" face="黑体">
            小组组长李辰教授，英国剑桥大学博士，美国麻省理工学院博士后，剑桥大学海外Fellowship获得者，中组部“千人计划”青年人才和西安交通大学“青年拔尖人才计划”获得者。李辰教授曾长期在全球最大的生物信息研究所—欧洲生物信息研究所（EMBL-EBI）从事生物医学文本挖掘的研究、开发工作。
            他主导开发的BioModels数据标准系统曾被评为系统生物学领域最重要资源，《Nature》出版社也曾经就该系统进行过专访。
        </font></p>
        <p align="left">二、招聘方向</p>
        <p align="left">
            <font size="4pt" face="黑体">
                1. 自然语言处理（信息抽取、文本表示方向）<br />
                2. 生物医学文本挖掘 <br />
                3. 知识图谱（语义网）的构建与分析</font>
        </p>
        <p align="left">三、应聘条件</p>
        <p align="left"><font size="4pt" face="黑体">
        1. 计算机，生物信息学等相关领域的博士 <br />
        2. 优秀的科研背景，发表过高质量的学术论文或负责过重大工程项目 <br />
        3. 能负责研究组内部一定的研究指导工作 <br />
        4. 符合西安交通大学博士后/青年教师后招收条件，全职从事研究工作
        </font></p>

        <p align="left">四、应聘材料与联系方式</p>
        <p align="left">
            <font size="4pt" face="黑体">
        1. 个人简历 <br />
        2. 反映本人学术水平的近5年代表性成果 <br />
        3. 应聘岗位及初步构想 <br />
        请教应聘材料发送至hk52025804@stu.xjtu.edu.cn， 联系电话：13572016850
        </font>
        <p align="left">五、相关待遇</p>
        <p align="left"><font size="4pt" face="黑体">博士后不低于16 - 30万元/年，青年教师职位、薪酬按学校有关规定执行。优秀者推荐申报青年千人计划、青年长江学者、陕西省百人计划等各类人才计划、学校青年拔尖人才计划。
        </font></p>
    </div>

</article>
