---
layout: default
---

<article {% if page.feature-img %} class="feature-image"{% endif %}>
  {% if page.feature-img %}
  <header id="main" style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <!--<h1 id="{{ page.title | default: "" | cgi_escape }}" class="title">-->
        <!--{{ page.title }}-->
    <!--</h1>-->

  </header>
  {% endif %}
  {% if page.title %}
  <header id="main_1">
    <h1 id="{{ page.title }}" class="title">
        {{ page.title }}
    </h1>
  </header>
  {% endif %}
  <section class="post-content">{{ content }}</section>
  <table width="200" border="0" align="center">
    <tr align="center">
      <td style="text-align: center; vertical-align: middle"><img alt="" width="220" height="200" src="/assets/img/students/haoyazhou.png">
      <br />
        <small>郝亚洲 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;博士</small>
        <br />
        <small>计算机科学与技术专业，于2013年9月入学，主要研究方向：文本挖掘，机器学习，自然语言处理。</small>
      </td>

      <td style="text-align: center; vertical-align: middle"><img alt="" width="220" height="200" src="/assets/img/students/lizhijing.jpg">
      <br />
        <small>李质婧 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;博士</small>
        <br />
        <small>计算机科学与技术专业，于2013年9月入学，主要研究方向：文本挖掘，机器学习，自然语言处理。</small>
      </td>
      <td style="text-align: center; vertical-align: middle"><img alt="" width="220" height="200" src="/assets/img/students/hekai.jpg">
      <br />
        <small>和凯 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;博士</small>
        <br />
        <small>计算机科学与技术专业，于2013年9月入学，主要研究方向：文本挖掘，机器学习，自然语言处理。</small>
      </td>

    </tr>
    <tr align="center">
      <td style="text-align: center; vertical-align: middle"><img alt="" width="220" height="200" src="/assets/img/students/liyufei.jpg">
      <br />
        <small>李羽霏 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;博士</small>
        <br />
        <small>计算机科学与技术专业，于2013年9月入学，主要研究方向：文本挖掘，机器学习，自然语言处理。</small>
      </td>

      <td style="text-align: center; vertical-align: middle"><img alt="" width="220" height="200" src="/assets/img/students/lanyangyang.png">
      <br />
        <small>兰阳阳 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;硕士</small>
        <br />
        <small>计算机科学与技术专业，于2013年9月入学，主要研究方向：文本挖掘，机器学习，自然语言处理。</small>
      </td>
      <td style="text-align: center; vertical-align: middle"><img alt="" width="220" height="200" src="/assets/img/students/loupeiliang.jpg">
      <br />
        <small>娄沛良 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;硕士</small>
        <br />
        <small>计算机科学与技术专业，于2013年9月入学，主要研究方向：文本挖掘，机器学习，自然语言处理。</small>
      </td>

    </tr>

    <tr align="center">
      <td style="text-align: center; vertical-align: middle"><img alt="" width="220" height="200" src="/assets/img/students/longyu.jpg">
      <br />
        <small>龙雨 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;硕士</small>
        <br />
        <small>计算机科学与技术专业，于2013年9月入学，主要研究方向：文本挖掘，机器学习，自然语言处理。</small>
      </td>

      <td style="text-align: center; vertical-align: middle"><img alt="" width="220" height="200" src="/assets/img/students/wangxuan.jpg">
      <br />
        <small>王轩 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;硕士</small>
        <br />
        <small>计算机科学与技术专业，于2013年9月入学，主要研究方向：文本挖掘，机器学习，自然语言处理。</small>
      </td>
      <td style="text-align: center; vertical-align: middle">
      </td>

    </tr>

  </table>

</article>
